// 🎨 Curious Blue
$blue-charcoal-900: #001112; // 900
$blue-charcoal-800: #021B26; // 800
$blue-charcoal-600: #1d323d; // 600
$blue-charcoal-400: #394b55; // 400
$blue-charcoal-200: #586770; // 200
$blue-charcoal-90: #79838c; // 90
$blue-charcoal-70: #989fa6; // 70
$blue-charcoal-50: #b5bac0; // 50
$blue-charcoal-40: #d1d3d7; // 40
$blue-charcoal-20: #ebeced; // 20

// 🎨 Caribbean Green
$caribbean-green-700: #002c19; // 700
$caribbean-green-600: #003c28; // 600
$caribbean-green-400: #00664c; // 400
$caribbean-green-100: #00967a; // 100
$caribbean-green-80: #00C0A3; // 80
$caribbean-green-70: #36cbb7; // 70
$caribbean-green-50: #60d1ca; // 50
$caribbean-green-40: #85d8da; // 40
$caribbean-green-30: #ade3e7; // 30
$caribbean-green-20: #e0f3f6; // 20

//
$background-primary:  $blue-charcoal-800;
$background-secondary: $blue-charcoal-20;
$font: $caribbean-green-70;
$font-transparent: #36cbb775;
$font-secondary: $caribbean-green-20;
