.GatoGrid{
    background-color: $font-secondary;
    text-align: center;
    width: 100%;

    @media(max-width:768px){
        max-width: 40%;
    }

    @media(max-width:468px){
        max-width: 100%;
    }


    .row{
        box-shadow: 0 -2px 0 0 $background-primary!important;

        .column{
            box-shadow: -2px 0 0 0 $background-primary!important;
            

            button{
                max-width: 100%;
                font-size: 3rem;
                background-color: $font-secondary;
            }
        }
    }
}

i{
    color: $font;
    font-size: 3rem;
}

