.Tree{
    

  
    h1{
        color: $font-secondary;
        margin-top: 1.8rem;
        text-align: center;
    }

    .boards{
        display: flex;
        margin-top: 2rem;
        align-items: center;
        border-top: 1px solid $font;
        gap: 12px;

        @media(max-width:768px){
            flex-wrap: wrap;
        }
    

        .board{
            h2{
                color:$font-secondary;
            }
    
            @media(max-width:768px){
                max-width: 40%;
            }
        
            @media(max-width:468px){
                max-width: 100%;
            }  
            
        }
    }

    button.button{
        font-size: 1.6rem;
        background-color: $font-secondary;
    }
}